<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../app.css" rel="stylesheet">
    </head>
    <body>
        
        <img src="/static/stray-kids-removebg-preview.png">
        <br>
        <a href="/login"><button>Login</button></a>
        <form action="/access" method="POST">
            <input type="hidden" name='access_token' value=<%=locals.data %>>
            <button type="submit">Albums</button>
        </form>
        <a href="/refresh_token"><button>Refresh</button></a>
        
        </body>
        </html>