<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../app.css" rel="stylesheet">
    </head>
    <body>
        <h1>Stray Kids</h1>
        
        <button><a href="/login">login</a></button>
        <form action="/access" method="POST">
            <input type="hidden" name='access_token' value=<%=locals.data %>>
            <button type="submit">Albums</button>
        </form>
        <button><a href="/refresh_token">refresh</a></button>
        
        </body>
        </html>